# General temp files
*.DS_Store
*.swp
*.lck
*.pyc
*.log

# GNU/Make
firmware/*.hex
firmware/*.elf
firmware/*.o
firmware/*.d
firmware/*.dfu

# Eagle PCB
*.[bls]#[0-9]
*.?##

# Altium
*/History
*/__Previews
*Project\ Logs\ for\ *
*/Project\ Outputs\ for\ *
*/debug.log
*/*.PrjPcbStructure
*/.Cam
